/*====== FONTS STYLE ======*/

p{
    font-family: 'Raleway', sans-serif;
}
h1 , h2{
    font-family: 'Noto Sans', sans-serif;
    color: #cb997e;
    font-weight: 800;
}


/*====== NAVBAR STYLE ======*/

.navbar{
    background-color: rgba(36, 36, 36, 0.95);
}
.navbar a img{
    width: 60px;
}
.navbar .collapse .nav-link{
    color: white;
    margin-left: 10px;
    transition: all .5s ;
}
.navbar .nav-link:hover{
    background-color: white;
    color: rgb(36, 36, 36);
    border-radius: 25px;
}

/*====== CAROUSEL STYLE ======*/

.about-div,.gallary-div, .contact-div{
    background-color: rgb(36, 36, 36);
    text-align: center;
    padding: 20px 0px;
    margin: 15px 0px;
    color: white;
}
.line-div{
    width: 50%;
    height: 5px;
    margin: auto;
    background: repeating-linear-gradient(to left,black , white  , black);
    border-radius: 50%;
    margin-top: 20px;
}

/*====== FLEX IN ABOUT DIV ======*/

.row{
    display: flex;
    width: 100%;
    text-align: left;
    justify-content: space-around;
}
.row .item{
    width: 100%;
}
.row .item img{
    width: 100%;
}

/*====== GALLARY DIV STYLE ======*/


.nav-tabs{
    margin-top: 10px;
    margin-bottom: 10px;
}
.nav-tabs .nav-item{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
}
.nav-tabs .nav-item a{
    color: white;
}
.tab-content .row .item img{
    border-radius: 20px;
    margin-bottom: 15px;
    height: 400px;
    margin-left: 15px;
}

.space{
    width: 100%;
    height: 15px;
    background-color: white;
    margin-top: 5px;
}

/*====== CONTACT DIV STYLE ======*/

.contact-div .row img{
    width: 100%;
    margin-top: 10px;
}
.contact-div .row input{
    width: 80%;
    height: 35px;
}
.contact-div .row button{
    margin-top: 20px;
    height: 35px;
    width: 20%;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 20px;
    color: white;
}
.contact-div .row button:hover{
    background-color: white;
    border: none;
    color: rgb(36, 36, 36);
}

/*====== FOOTER STTYLE ======*/

footer{
    background-color: rgb(36, 36, 36);
    margin-top: 20px;
}
footer h6{
    color: white;
    margin-top: 15px;
}
footer p{
    color:darkgrey;
}
footer ul{
    list-style-type: none;
}
footer hr{
    border-color: darkgrey;
}

/*====== MEDIA STYLE ======*/

@media (max-width : 600px){
    .contact-div .row button{
        width: 100px;
        margin-bottom: 5px;
    }
    .gallary-div *{
        margin: auto;
        margin-bottom: 5px;
    }
    .gallary-div .line-div {
        margin: auto;
    }
    .contact-div .row .item h1{
        display: none;
    }
}